<h1>Edit Movie</h1>

<%= form_with url: movie_path(@the_movie), method: :patch, local: true do %>
  <div>
    <%= label_tag :query_title, "Title" %>
    <%= text_field_tag :query_title, @the_movie.title %>
  </div>

  <div>
    <%= label_tag :query_description, "Description" %>
    <%= text_area_tag :query_description, @the_movie.description, rows: 3 %>
  </div>

  <div>
    <button>Update Movie</button>
  </div>
<% end %>
